/* Global page setting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
/* Top text and image */
#type-intro {
    text-align: center;
    font-family: 'Special Elite', cursive;
    padding-top: 30px;
}

.img-container {
    width: 200px;
    height: 200px;
    border: 50%;
    background-color: red;
    border-radius: 50%;
    margin: auto;
}
/* Nav Bar  */
#navbar-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    height: 30px;
    width: 100%;
    background-color: black;
    margin-top: 30px;
}

.navbar-links ul {
    display: flex;
}

.navbar-links ul li {
    list-style: none;
    
}

.navbar-links ul a {
    text-decoration: none;
    
    color: white;
}

/* Carousel images */

.carousel-inner img {
    height: 190px;
    width: 60px;

}






/* About me and why I code section */

#main-section {
    background: black;
}

#main-section p, h3 {
    color: whitesmoke;
}

.section-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}




/* Media query for desktop (responsive) */
@media screen and  (min-width: 576px) {
    #type-intro {
        font-size: 3rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }
    .intro-text {
        grid-column: 2/3;
        padding-top: 35px;
    }

    .img-container{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #navbar-container {
        height: 60px;
    }

    .navbar-links ul li {
        font-size: 40px;

    }
}