* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 55px;
    background-color: black;
    color: white;
    font-family: 'Special Elite', cursive;
    padding-top: 15px;
}

#grid-proslide {
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    background-color: black;
    background: url(https://png.pngtree.com/thumb_back/fw800/background/20210227/pngtree-starry-galaxy-starry-night-sky-halo-starlight-background-image_570290.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.projectslide {
    height: 75px;
    max-width: 100%;
    background-color: gray;
    border-radius: 75px;
    margin: 30px 0;
}


.projectslide h3 {
justify-content: center;
align-content: center;
}

/* About projects text below */
#project-exp {
    text-align: center;
    font-size: 20px;
    padding-bottom: 15px;
}

/* White divider */

.white-div {
    height: 100px;
    width: 100%;
}

/* Code snippets with zoom function */
#code-snip {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(3, 1.5fr);
    gap: 10px;
}

.grid-snip {
    height: 200px;
    width: 200px;
    background-color: turquoise;
    border-radius: 50%;
    border: 2px solid black;
    margin: auto;
}

.snip1:hover {
    zoom: 1;
}

/* Home button go back to the beginning */
#cta-home {
    display: flex;
    background-color: black;
    padding-top: 10px;
}

#cta-home button {
    font-size: 25px;
    border-radius: 20px;
    padding: 15px 30px;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
    margin-left: 50px;
}

#cta-home button a {
    text-decoration: none;
    color: black;
}
#cta-home button a:hover {
    color: grey;
}

.cta-home li {
    display: inline;
    justify-items: flex-start;
    align-items: center;
}

.fab-icons li{
    display: inline-flex;
}

.fab-icons li a {
    color: white;
    font-size: 15px;
    padding: 10px;
    align-content: center;
    justify-content: flex-start;
    margin-top: 15px;
}

@media screen and (min-width: 576px){
    /* About projects text below*/
    #project-exp {
        font-size: 20px;
    }

    .white-div {
        height: 150px;
    }


    #cta-home button {
        font-size: 25px;
        border-radius: 20px;
        padding: 10px 30px;
        margin-bottom: 10px;
        justify-content: center;
        align-content: center;
        margin-left: 300px;
    }
    
    #cta-home button a {
        text-decoration: none;
        color: black;
    }
    #cta-home button a:hover {
        color: grey;
    }
    
    .cta-home li {
        display: inline;
        justify-items: flex-start;
        align-items: center;
    }
    
    .fab-icons li{
        display: inline-flex;
    }
    
    .fab-icons li a {
        color: white;
        font-size: 25px;
        padding: 20px;
        align-content: center;
        justify-content: flex-start;
    }

    .fab-icons li a:hover {
        color: grey;
    }
}